# K Vecinos mas cercanos
Recrear o mejor dicho simular esos casos donde la mayoria elije una situacion (concenso). Es un algoritmo que es muy facil e util para clasificar nuevos elementos.

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn import preprocessing , neighbors
from sklearn.model_selection import train_test_split

In [8]:
style.use('ggplot')
plt.rcParams['figure.figsize'] = (16,9)

In [6]:
df = pd.read_csv('../python-ml-course-master/datasets/cancer/breast-cancer-wisconsin.data.txt', header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [4]:
df.shape

(698, 11)

In [9]:
df.describe()

,0,1,2,3,4,5,7,8,9,10
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [10]:
df.columns = ['id','v1','v2','v3','v4','v5','v6','v7','v8','v9','cancer']

In [11]:
df.drop(['id'], axis=1,inplace=True)

In [23]:
df.replace('?',-9999, inplace=True)

In [24]:
X = df[['v1','v2','v3','v4','v5','v6','v7','v8','v9']]
Y = df['cancer']

## Clasificacion K vecinos

In [25]:
Xtrain , Xtest , Ytrain , Ytest = train_test_split(X,Y, test_size=0.2)

In [26]:
clf = neighbors.KNeighborsClassifier()
clf.fit(Xtrain,Ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [27]:
accuracy = clf.score(Xtest,Ytest)
accuracy

0.9642857142857143